body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background: url('/images/login_page_BG.png')
                center / cover
                no-repeat;

    z-index: 0;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.25);

    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
}

h1 {
    margin-top: 0;
}
